<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<main>
		<h1><%= header %></h1>
		<form action="<%= action %>" method="POST">
			<div class="form-field"></div>
				<label for="id">SuperHero id</label>
				<input type="text" id="id" name="id" size="5">
		</div>
			<button type="submit">Submit</button>
		</form>
		<a href="/"><button>Menu</button></a>
	</main>
	<footer>
		<a>&copy; 2021 Anjula Timsina </a>	
	</footer>
	
</body>
</html>